node_modules/
.env
.env.local
.env.*.local
dist/
build/
.next/
out/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.firebase/
.firebaserc
firebase-debug.log
.vercel
.idea/
.vscode/
*.swp
*.swo
coverage/
.nyc_output/
